{% extends "my_blog/base.html" %}
{% load crispy_forms_tags %}
{% block title%} 
Register
{% endblock %}
{% block content%}
<div class = "container">
    <form method = "POST">
        {% csrf_token %}
        <fiieldset class = "form-group">
            <legend> Join Now!</legend>
            {{form | crispy}}
        </fiieldset>
        <div class = "form-group">
            <button type = "submit" > Sign Up </button>
        </div>
    </form>
    <div>
        <small> 
            Already have an account? <a href = "{% url 'login'%}"> Sign In</a>
        </small>
    </div>
</div>
{% endblock %}