{% extends "my_blog/base.html" %}

{% block content %}
<div class="container">
    <article>
          <div class="media-body">
           <div class="list-group">
             <a href="#">{{ object.author }}</a>
             <small>{{ object.date_posted }}</small>
           </div>
           <h2>{{ object.title }}</a></h2>
           <p>{{ object.content }}</p>
          </div>
          {% if object.author == user %}
            <div>
              <a class="btn btn-default " href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-default " href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}          
    </article>
</div>
{% endblock %}
