{% extends "my_blog/base.html" %}

{% block title %} 
Travel Blog
{% endblock %}
{% block content%}
<section class = "container">
    <h1> Travel Blog </h1>
</section>
<section class = "container">
    {% for post in posts%}
    <div class = "list-group">
        <article>
            <div class = "media-body">
                <div class = "list-group">
                    <a href = "#">{{post.author}}</a>
                    <small>{{post.date_posted}}</small>
                </div>
            <h2><a href = "{% url 'post-detail' post.id %}">{{post.title}} </a></h2>
            <p>{{post.content}} </p>
            </div>
        </article>
    </div>
    {% endfor%}
</section>
<section class="container">
	<div class="container">
	<section>
	  <a href="{% url 'post-create' %}">Click here to create new post</a>
	</section>
	</div>
</section>

{% endblock %}

{% block footer%} 

{% endblock %}
